main {
    width: 300px;
    height: 425px;
}

h3{
    color: #76b5c5;
    text-align: left;
    margin-left: 50px;
    font-size: 25px;
    margin-bottom: -19px;
}

h4{
    color: #76b5c5;
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: -9px;
}

label{
    font-weight: bold;
    font-size: 12;
    color: #76b5c5;
}

button{
    background-color: #76b5c5;
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    width: 145px;
    height: 45px;
    margin-left: 30px;
    font-size: 20px;
}

hr{
    border-bottom: 3px solid #76b5c5;
    width: 315px;
}

input[type=file]::file-selector-button {
    border: 2px solid #76b5c5;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #76b5c5;
    transition: 1s;
    margin-top: 5px;;
    color: white;
  }